{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<main>
{% include "partials/header_minimal.html" %}

    
    <div class="container mt-4">

      {% include 'partials/messages.html' %}


        <div id="div1">
        <div class="card">
            <div class="card-header">Contagem - {{template_formulario}}</div>
              <div class="card-body">

                <form method="post" class="prevent-double-click-form">
                  {% csrf_token %}
                    {% for item in itens_do_formulario %}
                    <div class="form-group">
                      <label>{{item}}</label>
                     
                      <input name="{{item.id}}" type="number" class="form-control" id="{{item.id}}">
                    </div>
                    {% endfor %}
    
                  <a class="btn btn-secondary" type="button" href="{% url 'inventario' %}">Voltar</a>
                  <button class="btn btn-primary prevent-double-click-button" type="submit" onclick="javascript:submitForm();">Salvar</button>
    
                </form>
  
              </div>
          </div>

          <br>
        </div>

  </div>
  

  
</main>
{% include "partials/footer.html" %}

{% endblock %}

{% block custom_scripts %}


    <script src="{% static 'js/duplo_clique.js' %}"></script>
{% endblock %}