{% extends 'base.html' %}
  {% load static %}
  {% load widget_tweaks %}
  
  {% block content %}
  <main>
      {% include "partials/header_minimal.html" %}
      
      <div class="container mt-4">
  
        {% include 'partials/messages.html' %}

        <div class="row">

          <div class="col-xl-6 mb-2">
            <div class="card">
              <div class="card-header">Dados da Conta</div>
              <div class="card-body">
                <div class="small text-muted mt-2">Nome: {{user.first_name}} {{user.last_name}}</div>
                <div class="small text-muted mt-2">Nome de usuário: {{user.username}}</div>
                <div class="small text-muted mt-2">Email cadastrado: {{user.email}}</div>
                <div class="small text-muted mt-2">Tipo de Acesso: {{ tipos_usuario|get_item:user.user_type }}</div>
              </div>
            </div>
          </div>
      
          <div class="col-xl-6">
            <div class="second">
            <div class="card">
              <div class="card-header">Alterar Senha</div>
              <div class="card-body">
                  <form method="post" class="prevent-double-click-form">
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="form-group">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{ field|add_class:'form-control' }}
                          {% for error in field.errors %}
                            <span class="help-block text-danger">{{ error }}</span>
                          {% endfor %}
                        </div>
                      {% endfor %}
        
                      <a class="btn btn-secondary" type="button" data-dismiss="modal" href="{% url 'index' %}">Voltar</a>
                      <button class="btn btn-primary prevent-double-click-button" type="submit" onclick="javascript:submitForm();">Salvar</button>
        
                    </form>
              </div>
          </div>
        </div></div>
          
       </div>

  
        
          
  
      </div>
  </main>
      {% include "partials/footer.html" %}
  
  {% endblock %}
  
  {% block custom_scripts %}
      <script src="{% static 'js/duplo_clique.js' %}"></script>
  
  {% endblock %}