<div class="datatable">
    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
              <th>ID</th>
              <th>Loja</th>
              <th>Data do Pedido</th>
              <th>Data de Entrega</th>
              {% if role_gerente %}
              <th>Pedido - R$</th>
              <th>Entrega - R$</th>
              {% else %}
              {% endif %}
              <th>Status</th>
              <th>Ações</th>
            </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Loja</th>
            <th>Data do Pedido</th>
            <th>Data de Entrega</th>
            {% if role_gerente %}
            <th>Pedido - R$</th>
            <th>Entrega - R$</th>
            {% else %}
            {% endif %}
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </tfoot>
        <tbody>
          {% for pedido in pedidos %}
            <tr>
                <td>{{pedido.id}}</td>
                <td>{{pedido.loja}}</td>
                <td>{{pedido.data_criacao|date:"d/M/Y"}}</td>
                <td>{{pedido.data_entrega|date:"d/M/Y"}}</td>
                {% if role_gerente %}
                <td>R$ {{pedido.valor_total}}</td>
                  {% if pedido.valor_entrega == None or pedido.valor_entrega == 0.00 %}
                <td><span class="badge badge-light">Gratis</span></td>
                  {% else %}
                <td>R$ {{pedido.valor_entrega}}</td>
                  {% endif %}
                {% else %}
                {% endif %}
                <td>
                  <span class="badge badge-{{pedido.status.cor}}">
                    {{pedido.status}}
                  </span>
                </td>
                
                <td>
                    <a class="btn btn-datatable btn-icon btn-transparent-dark mr-2" href="{% url 'detalhes_pedido' pedido.id %}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detalhes"><i data-feather="eye"></i></a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>