<div class="card card-header-actions mb-4">
    <div class="card-header">
        Filtros
        <button id="btn-mostrar" class="btn btn-sm btn-primary" type="button" onclick="$('#filtro').show(); $('#btn-mostrar').hide(); $('#btn-esconder').show();">Mostrar</button>
        <button id="btn-esconder" class="btn btn-sm btn-secondary" type="button" onclick="$('#filtro').hide(); $('#btn-mostrar').show(); $('#btn-esconder').hide();" style="display: none;">Esconder</button>
    </div>
    <div class="card-body" style="display: none;" id="filtro">
        <form method="get">
            {{ filter.form.as_p }}
            <div class="modal-footer">
                <a class="btn btn-secondary" href="{{url_limpar_filtro}}">
                    <span class="glyphicon glyphicon-search"></span> Limpar
                </a>
                <button type="submit" class="btn btn-primary" id="btn-filtrar">
                <span class="glyphicon glyphicon-search"></span> Buscar
                </button>   
            </div>
        </form>                
    </div>
</div>