<header class="page-header page-header-light bg-light mb-0">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="{{icone}}"></i></div>
                        {{titulo}}
                    </h1>
                    <div class="page-header-subtitle">{{subtitulo}}</div>
                </div>
            </div>
        </div>
    </div>
</header>